<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <nav>
      <div class="top-link">
        <a href="">
          <h1>API Server</h1>
        </a>
      </div>
      <ul>
        <li><a href="/">Display</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/player/create">New player</a></li>
      </ul>
    </nav>
    <div>Add info Here</div>
    <div class="create-item content">
      <form action="/postit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="team">Team </label>
        <input type="text" id="team" name="team" required />
        <label for="titles">Championships:</label>
        <input type="text" id="rings" name="rings" required />
        <button>Submit</button>
      </form>
      <form action="/deleteit" method="DEL">
        <label for="name">delete:</label>
        <!-- <input type="text" id="name" name="name" required /> -->
      <button>Delete</button>
      </form>
    </div>
  </body>
</html>
