<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
 <style>
   .content{
     height: 90%;
   }
 </style>
  </head>
  <body>
    <nav>
      <div class="top-link">
        <a href="">
          <h1>API Server</h1>
        </a>
      </div>
      <ul>
        <li><a href="/">This is a test</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/player/create">New Player</a></li>
      </ul>
    </nav>
    <div class="create content">
      <h2>List of names <%= names %></h2>
      <p>Click About to see the list from the API assignment</p>
    </div>

  </body>
</html>
